{% extends "base_admin.html.twig" %}

{% block title %}
    BlogSymfony | Modification commentaire
{% endblock %}

{% block body %}
    
    <h1 class="text-center my-5">Modification commentaire</h1>

    {{ form_start(formComment) }}

        {{ form_widget(formComment) }}

        <button class="btn btn-dark">Enregistrer les modifications</button>

    {{ form_end(formComment) }}
{% endblock %}